<?xml version="1.0"?>
<config>
    <modules>
        <BasicRum_Analytics>
            <version>1.0.0</version>
        </BasicRum_Analytics>
    </modules>

    <global>
        <helpers>
            <basicrum_analytics>
                <class>BasicRum_Analytics_Helper</class>
            </basicrum_analytics>
        </helpers>
        <models>
            <basicrum_analytics>
                <class>BasicRum_Analytics_Model</class>
            </basicrum_analytics>
        </models>
        <blocks>
            <basicrum_analytics>
                <class>BasicRum_Analytics_Block</class>
            </basicrum_analytics>
        </blocks>
    </global>

    <frontend>
        <layout>
            <updates>
                <basicrumanalytics>
                    <file>basicrum_analytics.xml</file>
                </basicrumanalytics>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <BasicRum_Analytics>
                    <files>
                        <default>BasicRum_Analytics.csv</default>
                    </files>
                </BasicRum_Analytics>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <basicrum_analytics>
            <general>
                <boomerang_version>v1.815.60</boomerang_version>
                <enabled>0</enabled>
            </general>
            <privacy>
                <opt_in_required>0</opt_in_required>
            </privacy>
            <wait_after_onload>
                <enabled>0</enabled>
                <ms>0</ms>
            </wait_after_onload>
            <developer>
                <use_unminified_loaders>0</use_unminified_loaders>
            </developer>
        </basicrum_analytics>
    </default>
</config>
